.central-block {
    width: 63%;
     display: flex;
     flex-direction: column;
     padding-left: 5.1%;
 }
 @media (max-width: 1439.5px) and (min-width: 835px) {
    .central-block {
        width: 59.3%;
        padding-left: 27px;
    }
    }
    @media (max-width: 835px) and (min-width: 200px) {
        .central-block {
            width: inherit;
            padding: 0px;
        }
    }