.arrow__btn {
    position: relative;
    width: 25px;
    height: 30px;
}

.arrow__btn::before,
.arrow__btn::after {
    content: '';
    position: absolute;
    top: 0;
    width: 1.5px;
    height: 15%;
    background-color: var(--grey66);
    /* Цвет стрелки */
}

.arrow__btn::before {
    top: 38%;
    left: 12px;
    transform: rotate(35deg);
}

.arrow__btn::after {
    top: 48%;
    left: 12px;
    transform: rotate(-35deg);
}
@media (max-width: 400px) {
    .arrow__btn {
       
        width: 25px;
        height: 25px;
    }
}