.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    background-color: var(--white);
}
.item{
    margin-bottom: 20px;
}

.first_item{
    color: green;
}
.second_item{
    color: yellow;
}
.third_item{
    color: grey;
}