.container {
    padding: 10px 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--greyF3);

}

.central_block {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
    
}

.central_block_img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.central_block_text {
    font-family: 'Roboto';
    font-size: 12px;
}

.left_btn,
.right_btn {
    background-color: var(--white);
    border-radius: 5px;
}

.right_btn {

    transform: rotate(180deg);
}

@media (max-width: 400px) {
    .central_block_img {
        width: 10px;
        height: 10px;
        margin-right: 10px;
    }

    .central_block_text {
        font-family: 'Roboto';
        font-size: 10px;
    }
}